#sessions.content.high-detail
  .page-header 
    %h1 Sessions
    .pull-right.page-detail
      = content_detail_switch
      - if current_user
        = link_to 'New Session', new_session_path
        = link_to 'Attendance',  attendance_sessions_path

  .row
    .span14
      - @sessions.each do |session|
        .session{id: "session_#{session.id}"}
          .header
            %h2= session.title
            .pull-right.star= favourite(session)
          .detail
            .abstract= abstract(session)
            = schedule(session)

          %footer
            %em Speaker:
            %strong= speakers(session)
            .pull-right
              %em Tags:
              = tags(session)

          - if current_user
            .attending_stats
              %span.value= session.planning_to_attend
              plan to attend 

            %p.commands
              = link_to 'Edit', edit_session_path(session) if current_user
              = button_to("Delete Session", { :action => "destroy", :id => session.id }, {:confirm => "Are you sure?", :method => :delete}) if current_user
              
    .span2.tag_filter
      #tag-list
        %h2 Filter
        %ul
          %li.cmd-clear-filter.on All
          - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
            %li{ class: css_class }= tag.name

