#session.content
  .page-header 
    %h1
      .title= @session.title
      %span.speakers= speakers
    .pull-right
      .schedule= schedule
      .tags= tags

  .fill
    .abstract= abstract

  %footer
    = session_buttons
