#schedule.content
  .page-header 
    %h1 Schedule
    -if current_user
      .pull-right
        = link_to("Edit Schedule", events_path) 


  #calendars.fill
    - i = 0
    - @events_by_day.each_pair do |date, events|
      - unless events.empty?
        %table#calendar
          %header= "Day #{i + 1} - #{date.strftime('%b %d %Y')}"
          %thead
            = schedule_headers(@rooms)
          %tbody
            = schedule_events(events, @rooms)
            
    