#speakers.content.high-detail
  .page-header 
    %h1 Speakers
    .pull-right.page-detail
      = content_detail_switch
      -if current_user
        %p= link_to("New Speaker", new_speaker_path) 
        
  .fill.speakers
    - sort_by_last_name(@speakers).each do |speaker|
      .speaker{id: "speaker_#{speaker.id}"}
        = link_to('', '*', anchor: "speaker_#{speaker.id}")
        .header
          %h2= speaker.name
        .detail
          = picture(speaker)
          .info
            = actions(speaker)
            = bio(speaker)
        %footer= sessions(speaker)


- content_for :doctail do
  = javascript_include_tag "default/speakers", :debug => Rails.env.development?
